# SQL Options in Spark HW

Alirght let's apply what we learned in the lecture to a new dataset!

**But first!**

Let's start with Spark SQL. But first we need to create a Spark Session!

In [1]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 62.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=c69b5e6308244fb1fc0ffe2c468b90864ae89f0bd4d7e045f49b4f413796a41e
  Stored in directory: /root/.cache/pip/wheels/42/59/f5/79a5bf931714dcd201b26025347785f087370a10a3329a899c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
import pyspark
from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName('HW').getOrCreate()
spark

## Read in our DataFrame for this Notebook

For this notebook we will be using the Google Play Store csv file attached to this lecture. Let's go ahead and read it in. 

### About this dataset

Contains a list of Google Play Store Apps and info about the apps like the category, rating, reviews, size, etc. 

**Source:** https://www.kaggle.com/lava18/google-play-store-apps

In [3]:
df = spark.read.csv('googleplaystore.csv', inferSchema = True, header = True)

## First things first

Let's check out the first few lines of the dataframe to see what we are working with

In [4]:
df.limit(10).toPandas()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

As well as the schema to make sure all the column types were correctly infered

In [5]:
df.printSchema()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

Looks like we need to edit some of the datatypes. We need to update Rating, Reviews and Price as integer (float for Rating) values for now, since the Size and Installs variables will need a bit more cleaning. Since we haven't been over this yet, I'm going to provide the code for you here so you can get a quick look at how it used (and how often we need it!).

**make sure to change the df name to whatever you named your df**

In [6]:
from pyspark.sql.types import IntegerType, FloatType
newdf = df.withColumn("Rating", df["Rating"].cast(FloatType())) \
            .withColumn("Reviews", df["Reviews"].cast(IntegerType())) \
            .withColumn("Price", df["Price"].cast(IntegerType()))
print(newdf.printSchema())
newdf.limit(5).toPandas()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: float (nullable = true)
 |-- Reviews: integer (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

Looks like that worked! Great! Let's dig in.

## 1. Create Tempview

Go ahead and create a tempview of the dataframe so we can work with it in spark sql.

In [7]:
df.createOrReplaceTempView('tempview')

## 2. Select all apps with ratings above 4.1

Use your tempview to select all apps with ratings above 4.1

In [9]:
spark.sql('SELECT App, Category, Rating FROM tempview WHERE Rating > 4.1').limit(5).toPandas()

                                                 App        Category Rating
0  U Launcher Lite – FREE Live Cool Themes, Hide ...  ART_AND_DESIGN    4.7
1                              Sketch - Draw & Paint  ART_AND_DESIGN    4.5
2              Pixel Draw - Number Art Coloring Book  ART_AND_DESIGN    4.3
3                         Paper flowers instructions  ART_AND_DESIGN    4.4
4                               Garden Coloring Book  ART_AND_DESIGN    4.4

## 3. Now pass your results to an object 
(ie create a spark dataframe)

Select just the App and Rating column where the Category is in the Comic category and the Rating is above 4.5.

In [14]:
result = spark.sql("SELECT App, Rating FROM tempview WHERE Category = 'COMICS' AND Rating > 4.5") 
result.limit(5).toPandas()

                                                 App Rating
0           Manga Master - Best manga & comic reader    4.6
1  GANMA! - All original stories free of charge f...    4.7
2                          Röhrich Werner Soundboard    4.7
3                    Unicorn Pokez - Color By Number    4.8
4                      Manga - read Thai translation    4.6

## 4. Which category has the most cumulative reviews

Only select the one category with the most reivews. 

*Note: will require adding all the review together for each category*

In [19]:
spark.sql("SELECT Category, SUM(Reviews) AS Total_Reviews FROM tempview GROUP BY Category ORDER BY Total_Reviews DESC").limit(1).toPandas()

  Category  Total_Reviews
0     GAME   1.585422e+09

## 5. Select all apps that contain the word 'dating' anywhere in the title

*Note: we did not cover this in the lecture. You'll have to use your SQL knowledge :) Google it if you need to.*

In [24]:
spark.sql("SELECT App from tempview WHERE App LIKE '%dating%'").limit(5).toPandas()

                                                 App
0  Meet, chat & date. Free dating app - Chocolate...
1          Friend Find: free chat + flirt dating app
2                              Spine- The dating app
3      Princess Closet : Otome games free dating sim
4                           happn – Local dating app

## 6. Use SQL Transformer to display how many free apps there are in this list

In [25]:
from pyspark.ml.feature import SQLTransformer

In [26]:
sqlTrans = SQLTransformer(statement = "SELECT COUNT(*) FROM __THIS__ WHERE Type = 'Free'")

In [27]:
sqlTrans.transform(df).show()

+--------+
|count(1)|
+--------+
|   10037|
+--------+

## 7. What is the most popular Genre?

Which genre appears most often in the dataframe. Show only the top result.

In [30]:
spark.sql("SELECT Genres, COUNT(*) FROM tempview GROUP BY Genres ORDER BY COUNT(*) DESC").limit(1).toPandas()

  Genres  count(1)
0  Tools       842

## 8. Select all the apps in the 'Tools' genre that have more than 100 reviews

In [32]:
spark.sql("SELECT App, Reviews FROM tempview WHERE Genres = 'Tools' AND Reviews > 100").limit(5).toPandas()

                 App  Reviews
0  Moto File Manager    38655
1             Google  8033493
2   Google Translate  5745093
3       Moto Display    18239
4     Motorola Alert    24199

## That's all folks! Great job!